.chocco {
    display:flex;
    padding-top: rem(24px);
    background-color: #61c4d9;
    background: url("../img/bg/watermark.png") center center / cover no-repeat;
    &__page {
        @include page;      
        &::after {
            content: '';
            display: flex;
            position: absolute;
            bottom: rem(-150px);
            left: rem(550px);
            width: rem(460px);
            height: rem(341px);
            background: url("../img/decors/decors1.png") no-repeat; 
            @include tablets {
                left: rem(250px);
                top: rem(200px);
                width: rem(480px);
                height: rem(365px);
            }
        }
        &::before {
            content: '';
            display: flex;
            position: absolute;
            bottom: rem(-50px);
            left: rem(-60px);
            width: rem(59px);
            height: rem(112px);
            background: url('../img/decors/leaf-left.png') no-repeat; 
            @include tablets {
                left: rem(20px);
                top: rem(400px);
                width: rem(480px);
                height: rem(365px);
            }
        }
    }
    &__desc {
        display: flex;
        flex-direction: column;
        font-family: $alegreya;
        color: #fff;
        line-height: 1;
        @include tablets {
            padding: 0 rem(120px);
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%; 
    }
    &__main {
        display:flex;
        @include tablets {
            flex-direction: column;
            margin-bottom: rem(40px);
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        @include tablets {
            text-align: center;
            align-items: center;
        }
    }
    &__content-picture {
        margin-left: rem(80px);
        @include tablets {
            order: -1;
            margin-top: rem(-30px);
        }
    }
}
