.chocco {
    display:flex;
    padding-top: 24px;
    background-color: #61c4d9;
    background: url("../img/bg/watermark.png") center center / cover no-repeat;
    &__page {
        @include page;       
        &::after {
            content: '';
            display: flex;
            position: absolute;
            bottom: -150px;
            left: 550px;
            width: 460px;
            height: 341px;
            background: url("../img/decors/decors1.png") no-repeat; 
        }
        &::before {
            content: '';
            display: flex;
            position: absolute;
            bottom: -50px;
            left: -60px;
            width: 59px;
            height: 112px;
            background: url('../img/decors/leaf-left.png') no-repeat; 
        }
    }
    &__desc {
        display: flex;
        flex-direction: column;
        font-family: $alegreya;
        color: #fff;
        line-height: 1;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%; 
    }
    &__main {
        display:flex;
    }
    &__text {
        display: flex;
        flex-direction: column;
    }
    &__content-picture {
        margin-left: 80px;
    }
}
