.chocco {
    display:flex;
    padding-top: 24px;
    background-color: #61c4d9;
    background: url("../img/bg/watermark.png") center center / cover no-repeat;
    &__page {
        @include page;       
    }
    &__desc {
        display: flex;
        flex-direction: column;
        font-family: $alegreya;
        color: #fff;
        line-height: 1;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%; 
    }
    &__main {
        display:flex;
    }
    &__text {
        display: flex;
        flex-direction: column;
    }
    &__content-picture {
        margin-left: 80px;
    }
}
