.comment {
    display: flex;
    justify-content: space-between;
    background: url('../img/bg/branch.png')  center center no-repeat;
    margin: 0 80px 25px;
    &__user-photo {
        margin: 50px 20px 35px 45px;
    }
    &__text {
        margin: 68px 188px 0 0;
    }
    &__title {
        font-size: 30px;
        font-weight: 500;
    }
    &__desc {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 32px;
    }
    &__username {
        color: #666666;
        font-size: 18px;
        font-weight: 500;
    }
}

