.decors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    max-width: rem(1100px);
    bottom: rem(-50px);
    &__row1 {
        display: flex;
        justify-content: flex-end;
        margin-bottom: rem(100px);       
    }
    &__row2 {
        display: flex;
        justify-content: space-between;        
    }
    &__berries {
        top: rem(100px);
        right: rem(250px);
        position: absolute;
    }
    &__leafs-big {
        z-index: 1;
    }
    &__leaf-left {
        margin-left: rem(50px);
        margin-right: auto;
    }
    &__leafs-bottom {
        margin-right: rem(100px);
    }
    &__wildberries {
        margin-right: rem(50px);
    }
}