.fixed-menu {
    position: fixed;
    top: rem(215px);
    right: rem(50px);
    @include tablets {
        display: none;
    }
    &__item {
        margin-bottom: rem(8px);
        &--active {
            .fixed-menu__dot {
               border-color: white;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__dot {
        width: rem(16px);
        height: rem(16px);
        border-radius: 50%;
        background: transparent;   
        border: rem(1px) solid transparent;
        position: relative;
        &:before {
            content: "";
            width: rem(6px);
            height: rem(6px);
            background: #ffffff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

