.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #fff;
    margin-bottom: 90px;
    &__left {
        display: flex;
        flex-direction: column;
    }
    &__center {
        display: flex; 
        justify-content: space-between;       
        align-items: center;
    }
    &__right {
        font-size: 24px;
        font-weight: 400;
        display: flex;
        align-items: center;
    }
}