.map {
    display: flex;
    flex-direction: column;
    font-family: $alegreya;
    background: url("../img/map/picture.png") center center/cover no-repeat;
    &__page {
        @include page;
        display: flex;
        flex-direction: column;
        &__picture {
            width: 100%;
        }
    }
}