.menu {
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: inline-block;
        font-size: rem(18px);
        margin-right: rem(27px);
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__link {
        text-decoration: none;
        color: #fff;
    }
}