.order-form {
    display: flex;
    justify-content: center;
    width: 85%;
    &__title {
        display: flex;
        width: 100%;
        @include tablets {
            flex-direction: column;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(15px);
        &--order {
            justify-content: left;
            align-items: center;
            @include tablets {
                display: flex;
                justify-content: center;
            }
        }
    }
    &__column {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    &__row-textarea {
        margin-bottom: rem(15px);
    }
    &__block {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-right: rem(20px);
    }
    &__block-title {
        font-size: rem(18px);
        font-weight: 400;
        color: #0f5a47;
        margin-right: rem(23px);
        margin-left: rem(7px);
    }
    &__input {
        border: 0;
        border-radius: rem(3px);
        height: rem(60px);
        width: 100%;
        font-size: rem(18px);
        font-weight: 400;
        padding-left: rem(15px);
        padding-top: rem(5px);
        &:focus {
            outline: rem(3px) solid #dde3bd;
            border: none;
        }
    }
    &__input-textarea {
        height: rem(180px);
        width: 100%;
        font-size: rem(14px);
        font-weight: 300;
        padding-left: rem(15px);
        padding-top: rem(5px);
        border: rem(1px) solid transparent;
        border-radius: rem(3px);
        resize: none;
        &:focus {
            outline: rem(3px) solid #dde3bd;
            border: none;
        }
    }
    &__radio {
        @include tablets {
            display: flex;
            justify-content: center;
        }
    }    
    &__radio-buttons {
        display: flex;
        justify-content: space-between;
    }
        
    &__radio-container {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        font-size: rem(14px);
        padding-left: rem(35px);
    }
        
    &__radio-button {
        position: absolute;
        display: none;
        cursor: pointer;
    }
        
    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: rem(24px);
        height: rem(24px);
        margin: 0 rem(7px);
        background-color: #fff;
        border-radius: 50%;
        &::after {
            content:"";
            position: absolute;
            top: rem(5px);
            left: rem(5px);
            width: rem(12px);
            height: rem(12px);
            opacity: 0;
            display: block;
            background-color: #0f5a47;
            border-radius: 50%;
        }
    }
    
    &__radio-button:checked ~ .order-form__checkmark {
        color: #ddd;
    }
        
        
    &__radio-button:checked ~ .order-form__checkmark {
        border: rem(1px) solid #4b73b5;
    }
               
    &__radio-button:checked + .order-form__checkmark::after {
        opacity: 1;
    }

    &__checkbox-container {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        font-size: rem(14px);
        width: rem(20px);
        height: rem(20px);
        padding-left: rem(35px);
    }

    &__checkbox {
        position: absolute;
        display: none;
        cursor: pointer;
    }

    &__boxmark {
        position: absolute;
        top: 0;
        left: 0;
        width: rem(24px);
        height: rem(24px);
        margin: 0 rem(8px);
        background-color: #fff;
        &::after {
            content:"\2714";
            position: absolute;
            top: rem(3px);
            left: rem(6px);
            width: rem(12px);
            height: rem(12px);
            opacity: 0;
            display: block;
            color: #0f5a47;
            font-weight: 900;
        }
    }

    &__checkbox:checked ~ .order-form__boxmark {
        color: #ddd;
    }
                
    &__checkbox:checked ~ .order-form__boxmark {
        border: rem(1px) solid #4b73b5;
    }
               
    &__checkbox:checked + .order-form__boxmark::after {
        opacity: 1;
    }

    &__call {
        margin-bottom: rem(40px);
        @include tablets {
            display: flex;
            justify-content: center;
        }
    }
        
}


