.socials {
    display: flex;
    &__list {
        display: flex;
        padding-top: rem(46px);
    }
    &__item {
        width: rem(25px);
        height: rem(25px);
        margin-right: rem(20px);
    }
    &__vk {
        @include social;
        width: rem(25px); 
        height: rem(25px);
        margin-right: rem(8px);
    }
    &__fb {
        @include social;
        position: relative;
        width: rem(25px); 
        height: rem(25px);
        margin-right: rem(8px);
        cursor: pointer;
    }

    &__tw {
        @include social;
        position: relative;
        width: rem(25px); 
        height: rem(25px);
        margin-right: rem(8px);
        cursor: pointer;
    }
    &__in {
        @include social;
        width: rem(25px); 
        height: rem(25px);
        margin-right: rem(8px);
        cursor: pointer;
    }
}