.socials {
    display: flex;
    &__list {
        display: flex;
        padding-top: rem(46px);
    }
    &__item {
        width: rem(20px);
        height: rem(20px);
        margin-right: rem(20px);
    }
    &__vk {
        @include social;
        width: rem(25px); 
        height: rem(25px);
        margin-right: rem(8px);
    }
    &__fb {
        @include social;
        position: relative;
        width: rem(25px); 
        height: rem(25px);
        margin-right: rem(8px);
        cursor: pointer;
        &:before {
            content: '';
            display: block;
            position: absolute;
            background-color: #fff;
            cursor: pointer;
            width: rem(25px); 
            height: rem(25px);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

        }
    }

    &__bg-twit {
        @include social;
        width: rem(20px); 
        height: rem(16px);
        margin-right: rem(8px);
        background: url('../img/sprites/socials.png') rem(-10px) rem(-10px);
    }
}