.team {
    display: flex;
    font-family: $alegreya;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: rem(200px);
        height: rem(346px);
        opacity: 0.2;
        background: url('../img/bg/watermark3.png') center center / cover no-repeat; 
    }
    &__page {
        @include page;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            position: absolute;
            top: rem(-40px);
            right: 0;
            width: rem(135px);
            height: rem(112px);
            background: url('../img/pictures/blueberries.png') center center / cover no-repeat; 
        }
        &::after {
            content: '';
            position: absolute;
            bottom: rem(-40px);
            left: 0;
            width: rem(104px);
            height: rem(114px);
            background: url('../img/pictures/berry.png') center center / cover no-repeat; 
        }
    }
    &__header {
        display:flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: rem(58px); 
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__content {
        display: none;
    }
    &__member {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        @include tablets {
            width: 50%;
        }
        &--active {
            display: flex;
            flex-direction: column;
            align-items: center;
            .team__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: rem(220px);
            }
            .team__name::after {
                border-bottom: rem(6px) solid #0f5a47;
                border-top: 0;
            }
            .team__position {
                font-size: rem(18px);
                font-weight: 500;
            }
            .team__desc {
                font-size: rem(16px);
                font-weight: 300;
                text-align: center;
            }
        }
    }
    &__photo {
        width: rem(220px);
        height: rem(288px);
        margin: 0 rem(5px) rem(26px);;
    }
    &__name {
        font-size: rem(21px);
        font-weight: 500;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: rem(-15px); 
            bottom: rem(10px);
            width: 0;
            height: 0;
            border-left: rem(5px) solid transparent;
            border-right: rem(5px) solid transparent;
            border-top: rem(6px) solid #0f5a47;
            background: transparent;
        }
    }

    &__member:last-child {
        margin: 0;
    }    
}