.team {
    display: flex;
    font-family: $alegreya;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 346px;
        opacity: 0.2;
        background: url('../img/bg/watermark3.png') center center / cover no-repeat; 
    }
    &__page {
        @include page;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            position: absolute;
            top: -40px;
            right: 0;
            width: 135px;
            height: 112px;
            background: url('../img/pictures/blueberries.png') center center / cover no-repeat; 
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -40px;
            left: 0;
            width: 104px;
            height: 114px;
            background: url('../img/pictures/berry.png') center center / cover no-repeat; 
        }
    }
    &__header {
        display:flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 58px; 
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__member {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        &__photo {
            width: 220px;
            height: 288px;
            margin-bottom: 26px;;
        }
    }
    &__name {
        font-size: 21px;
        font-weight: 500;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: -15px; 
            bottom: 10px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #0f5a47;
            background: transparent;
        }
    }
    &__item--active {
        display: flex;
        flex-direction: column;
        align-items: center;
        .team__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .team__name::after {
            border-bottom: 6px solid #0f5a47;
            border-top: 0;
        }
        .team__position {
            font-size: 18px;
            font-weight: 500;
        }
        .team__desc {
            font-size: 16px;
            font-weight: 300;
            text-align: center;
        }
    }
    &__member:last-child {
        margin: 0;
    }    
}