.why {
    display:flex;
    font-family: $alegreya;
    &::before {
        content: '';
        position: absolute;
        width: rem(191px);
        height: rem(314px);
        top: rem(210px);
        left: 0;
        opacity: 0.2;
        background: url('../img/bg/leaf.png') no-repeat; 
        @include phones {
            background: none;
        }
    }
    &::after {
        content: '';
        display: flex;
        position: absolute;
        bottom: rem(-150px);
        left: 0;
        width: rem(161px);
        height: rem(315px);
        background: url("../img/pictures/raspberry.png") no-repeat; 
        @include tablets {
            width: rem(170px);
            height: rem(340px);
        }
    }
    &__page {
        @include page;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablets {
            justify-content: flex-start;
        }
    }
    &__header {
        display:flex;
        flex-direction: column;
        align-items: center;
        @include tablets {
            padding-top: rem(70px);
        }  
    }
    &__content {
        margin: 0 rem(80px);
        @include phones {
            margin: 0 rem(20px);
        }
    }
    &__title {
        font-size: rem(48px);
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subtitle {
        font-size: rem(18px);
        font-weight: 400;
        text-align: center;
    }
    &__list {
        display: flex;
        justify-content: center;
        @include tablets {
            display: flex;
            flex-direction: column;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: rem(80px);
        position: relative;
        @include tablets {
            margin-right: 0;
            margin-bottom: 20px;
            padding: 0 15%;
        }
        @include phones {
            flex-direction: row;  
        }
        &::after {
            content: '';
            display: flex;
            position: absolute;
            top: rem(56px);
            left: rem(216px);
            width: rem(67px);
            height: rem(21px);
            background: url("../img/bg/gray-circles.png") no-repeat; 
            @include tablets {
                display: none;
            }
        }
        &:last-child::after {
            display: none;
        }    
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__circle {
        display: inline-block;
        position: relative;
        background: $grey;
        width: rem(125px);
        height: rem(125px);
        border-radius: 50%;
        margin-bottom: rem(35px);
        @include tablets {
            margin-bottom: rem(25px);
        }
    }
    &__useful {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 65%;
        height: 65%;
        background-color: transparent;
        fill: transparent;
        stroke: #000;
        stroke-width: rem(1px);
    }
    &__tasty {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 65%;
        height: 65%;
        background-color: transparent;
        fill: transparent;
        stroke: #000;
        stroke-width: rem(1px);
    }
    &__nutritional {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 65%;
        height: 65%;
        background-color: transparent;
        fill: transparent;
        stroke: #000;
        stroke-width: rem(1px);
    }
    &__icon {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    &__slogan {
        font-size: rem(25px);
        font-weight: 700;
        text-align: center;
        margin-bottom: rem(25px);
        @include tablets {
            margin-bottom: rem(20px);
        }
    }
    &__subslogan {
        font-size: rem(18px);
        font-weight: 300;
        text-align: center;
    }
    &__decor--leaf {
        top: rem(188px);
        position: absolute;
        opacity: 0.2;
    }
    &__decor--raspberry {
        position: absolute;
        bottom: rem(-60px);
    }
}
