.work {
    display: flex;
    font-family: $alegreya;
    background: #f8faf9;
    &::before {
        content: '';
        position: absolute;
        width: rem(102px);
        height: rem(321px);
        top: rem(-130px);
        left: 0;
        background: url('../img/bg/leaf2.png') no-repeat; 
    }
    &__page {
        @include page;
        display: flex;
        flex-direction: column;
        &::before {
            content: '';
            position: absolute;
            bottom: rem(60px);
            left: rem(80px);
            width: rem(72px);
            height: rem(135px);
            z-index: 2;
            background: url('../img/pictures/leaf4.png') center center / cover no-repeat; 
        }
        &::after {
            content: '';
            position: absolute;
            width: rem(90px);
            height: rem(77px);
            top: rem(90px);
            right: rem(-80px);
            
            background: url('../img/pictures/leaf5.png') center center / cover no-repeat; 
        }
    }
}